<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Task</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div id="container">

        <h3 id="title">To-Do List</h3>

        <!-- Navigation -->
        <div class="nav">
            <a href="{{ url_for('home') }}">
                <button class="nav-btn" onclick="showPage('home')">Info</button>
            </a>
            <a href="{{ url_for('add') }}">
                <button class="nav-btn active" onclick="showPage('add')">Add Item</button>
            </a>
            <a href="{{ url_for('show') }}">
                <button class="nav-btn" onclick="showPage('show')">Show Items</button>
            </a>
        </div>
        <!-- Add Items Page -->
        <div class="page">
            <h5 id="sub-title">Add New Task</h5>
            <form class="add-form" action="/add" method="post">
                <input type="text" name="task" placeholder="Enter task name" required>
                <input type="date" name="deadline" required>
                <button type="submit">Add Task</button>
            </form>
        </div>
    </div>

</body>

</html>